{% load static %}
<!DOCTYPE html>
<html lang="es" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/swiper.css' %}" />

    <title>
      {% block titulo %}{% endblock %}
    </title>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbarExample">
    <!-- Navigation -->
    <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
      <div class="container">
        <!-- Image Logo -->
        <!--<a class="navbar-brand logo-image" href="index.html"><img src="{% static 'core/images/logo.svg' %}" alt="alternative" /></a>-->
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text" href="index.html">ZushiDev;</a>

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ms-auto navbar-nav-scroll">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#header">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Habilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Portafolio</a>
            </li>
          </ul>

        </div> 
      </div> 
    </nav>
    

      {% block contenido %}{% endblock %}

    <!-- Footer -->
    <div class="footer bg-gray">
      <img class="decoration-city" src="{% static 'core/images/decoration-city.svg' %}" alt="alternative" />
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4>¡ MUCHAS GRACIAS POR TU VISITA A MI PORTAFOLIO !</h4>
            <P>TAMBIÉN PUEDES VISITAR MIS REDES SOCIALES, ¡HABLEMOS!</P>
            <div class="social-container">
              <span class="fa-stack">
                <a href="https://twitter.com/Zumoshii">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x"></i>
                </a>
              </span>
              <span class="fa-stack">
                <a href="https://www.linkedin.com/in/jorge-tapia-abb34913b/">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x"></i>
                </a>
              </span>
              <span class="fa-stack">
                <a href="https://www.instagram.com/zushibld/">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </a>
              </span>
              <span class="fa-stack">
                <a href="https://github.com/ZumoshiBlade">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x"></i>
                </a>
              </span>
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 

    <!-- Copyright -->
    <div class="copyright bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
          </div> 
          <div class="col-lg-6">
            <p class="p-small statement">
              Copyright © <a href="#">ZushiDev</a>
            </p>
          </div> 
        </div> 
      </div> 
    </div>
   

    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn"><img src="{% static 'core/images/up-arrow.png' %}" alt="alternative" /></button>


    <!-- Scripts -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script> <!-- TypedJS Type Animation-->
    <script src="{% static 'core/js/typed.js' %}"></script> <!--Usage TypedJS-->
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'core/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'core/js/purecounter.min.js' %}"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="{% static 'core/js/isotope.pkgd.min.js' %}"></script> <!-- Isotope for filter -->
    <script src="{% static 'core/js/scripts.js' %}"></script> <!-- Custom scripts -->
  </body>
</html>
