{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
  ZushiDev
{% endblock %}

{% block contenido %}
  <div>
    <!-- Header -->
    <header id="header" class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-5">
            <div class="text-container">
              <div class="section-title">Bienvenido al sitio web de ZushiDev;</div>
              <h1 class="typeo"><span id="Typeo"></span></h1>
              <p class="p-large">Soy Jorge Tapia, recién egresado de Ingeniería en Informática con especialización en desarrollo de software.</p>
              <a class="btn-solid-lg" href="#projects">Proyectos</a>
            </div> 
          </div> 
          <div class="col-lg-6 col-xl-7">
            <div class="image-container">
              <img class="img-fluid" src="{% static 'core/images/header-illustration.svg' %}" alt="alternative" />
            </div> 
          </div> 
        </div> 
      </div>
    </header>

    <!-- Services -->
    <div id="services" class="cards-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
              <div class="card-icon blue">
                <span class="far fa-file-alt"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Gestión, Análisis y Planificación</h5>
                <p>Conocimientos sobre la gestión, análisis y la planificación de un proyecto informático completo para tu empresa.</p>
                <ul class="list-unstyled li-space-lg">
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Análisis y Planificación de Requerimientos Informáticos.</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Gestión de Proyectos Informáticos.</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Análisis y Desarrollo de Modelos de Datos.</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Inteligencia de Negocios.</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Arquitectura de Software.</div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Card -->
            <div class="card">
              <div class="card-icon yellow">
                <span class="fas fa-solar-panel"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Desarrollo de Software</h5>
                <p>Desde páginas informativas hasta plataformas interactivas, mi enfoque se centra en crear experiencias de software atractivas y profesionales que reflejen la visión y valores de tu negocio, contribuyendo a fortalecer tu presencia en el mundo de la tecnología y atraer a tu audiencia objetivo.</p>
                <ul class="list-unstyled li-space-lg">
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Calidad de Software.</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Programación de Software.</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Integración de Plataformas.</div>
                  </li>
                </ul>
              </div>
            </div>


            <!-- Card -->
            <div class="card">
              <div class="card-icon red">
                <span class="fas fa-code"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Lenguajes</h5>
                <p>Algunos de los lenguajes de programación con los que he realizado proyectos prácticos y reales.</p>
                <ul class="list-unstyled li-space-lg">
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Python</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Java</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">TypeScript</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">JavaScript</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">HTML5 & CSS</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">PHP</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">C#</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Kotlin</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">SQL</div>
                  </li>
                </ul>
              </div>
            </div>
          </div> 
        </div> 
      </div> 
    </div> 

    <!-- Details 2 -->
    <div class="counter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-5">
            <div class="text-container">
              <h2><span>Sistemas impresionantes</span><br /> construido con toneladas de cariño</h2>
              <p>Busco entregarle a mis futuros clientes y empleadores la mejor experiencia contratando mis servicios, destacando la calidad, eficiencia y atención personalizada en cada paso del camino. Confía en mi para superar tus expectativas y hacer realidad tus proyectos.</p>

              <!-- Counter -->
              <div class="counter-container">

              </div> 
            </div> 
          </div> 
          <div class="col-lg-6 col-xl-7">
            <div class="image-container">
              <img class="img-fluid" src="{% static 'core/images/details-2.svg' %}" alt="alternative" />
            </div> 
          </div> 
        </div> 
      </div>
    </div> 


    <!-- Projects -->
    <div id="projects" class="filter bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">Proyectos que he realizado</h2>
          </div> 
        </div> 
        <div class="row">
          <div class="col-lg-12">
            <!-- Filter -->
            <div class="button-group filters-button-group">
              <button class="button is-checked" data-filter="*">TODO</button>
            </div> 
            <div class="grid">
              {% for proyecto in lista_proyectos %}
                <div class="element-item">
                  <a href="{{ proyecto.sitio_web }}">
                    <img class="img-fluid" src="{{ proyecto.imagen.url }}" alt="Img-proyecto" />
                    <p>
                      <strong>{{ proyecto.titulo }}</strong> - {{ proyecto.descripcion_corta }}
                    </p>
                  </a>
                </div>
              {% endfor %}
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 

    <!-- Contact -->
    <div id="contact" class="form-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading"><span>¡Utiliza el siguiente formulario para</span><br />Contactarme!</h2>
            <p class="p-heading">Llena todos los campos con tu información y el tipo de consulta</p>
            <ul class="list-unstyled li-space-lg">
              <li>
                <i class="fas fa-map-marker-alt"></i> &nbsp;Santiago de Chile
              </li>
              <li>
                <i class="fas fa-phone"></i> &nbsp;<a href="tel:+56963414151">+56 9 6341 4151</a>
              </li>
              <li>
                <i class="fas fa-envelope"></i> &nbsp;<a href="mailto:jorgetapia2805@gmail.com">jorgetapia2805@gmail.com</a>
              </li>
            </ul>
          </div> 
        </div> 
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <!-- Contact Form -->
            <form method="post" action="https://formspree.io/f/xeqyjepy">
              <div class="form-group">
                <input type="text" name="Nombre" class="form-control-input" placeholder="Nombre" required />
              </div>
              <div class="form-group">
                <input type="email" name="Mail" class="form-control-input" placeholder="Correo" required />
              </div>
              <div class="form-group">
                <select class="form-control-select" name="Tipo_consulta" required>
                  <option class="select-option" value="" disabled selected>Tipo de Consulta</option>
                  <option class="select-option" value="Agendar">Agendar una Entrevista</option>
                  <option class="select-option" value="Otro">Otro</option>
                </select>
              </div>
              <div class="form-group">
                <textarea class="form-control-textarea" name="Mensaje" placeholder="Mensaje" required></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control-submit-button">Enviar</button>
              </div>
            </form>
          </div> 
        </div> 
      </div> 
    </div> 

  </div>
{% endblock %}
